@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
    background: #eff0f1;
    font-family: 'Open Sans', sans-serif !important;
}
section {
   padding:18px 0;
}
button, input, optgroup, select, textarea {
   font-size: 15px;
}

textarea{
  resize: none;
}

.card button[type=submit]{
  height: 45px;
}

div[name=add-collection] input[type=text].form-control{
  margin-bottom: 16px;
}

.nav-tabs .nav-link{
  padding: 15px .8575em;
}

#logo{
  width: 36px;
}

.modal-content .modal-footer{
  padding: 8px 8px 20px 24px;
  border-top: 0;
}

.modal-content .modal-header{
  padding: 10px 24px;
}

.modal-content .modal-header h5{
  font-size: 18px;
}

.dropdown-item{
  font-size: 15px;
}

table#collections, table#apis{
  font-size: 15px;
}

.dataTables_info{
  font-size: 13px;
}

.page-link{
  border-radius: 0;
}

.card {
   font-size:13px;
   padding: 10px 15px;
   /*font-family: 'Courier New', san-serif;*/
}
.card-body {
   padding: 10px 5px;
   margin-bottom: 5px;
}

.card-body label{
  font-size: 15px;
  margin-bottom: 15px;
}

.card-body input,.card-body select{
  font-size: 14px;
}


.card-body form{
  margin-bottom: 0px;
}

.card-body p {
   margin: 0;
}

.tab-content .card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 0px 1px -2px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.12)
}
.nav-tabs .nav-link.active {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-bottom: 0;
    border-color: #fff;
}
.nav-tabs .nav-link:hover {
    border-color: transparent;
}

table {
   width: 100% !important;
}

pre {
   white-space: pre;
   max-height: 150px;
}
.alert {
   border-radius: 0;
}
.form-group {
   margin-bottom: 2em;
}
.form-control {
   border-radius: 0;
   border-color: #808080;
   padding: .375rem .75rem;
}
.form-control.classic {
   border: 1px solid #E2E2E2 !important;
   background: none !important;
   border-radius: 3px;
}
.input-group .form-control {
    border-right-width: 0 !important;
}
.input-group .input-group-append button {
    border-left-width: 0 !important;
}
.input-group .input-group-append button .fa {
    font-size: 1.3em;
}
.btn.classic {
    border: 1px solid #E2E2E2 !important;
    height: 100%;
}
.btn.classic:hover,
.btn.classic:active,
.btn.classic:focus,
.btn.classic:active:focus {
    background-color: #FFF
}
.badge {
    border-radius: 50%;
    width: 13px;
    height: 13px;
    text-align: center;
    background-color: #E2E2E2;
    color: #000
}
.tooltip-inner {
   font-size: smaller;
   text-align: left
}
.form-control:focus {
   border-color: #808080;
   outline: 0;
   box-shadow: none;
}
.loader {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5142CF !important;
}

.back_drop{
  z-index:999;
  width:100%;
  height:100%;
  position:fixed;
  left:0;
  top:0;
  background: rgba(255,255,255,.5);
}

textarea[name=params]{
  resize: none;
  color: #008000;
}

.env{
  margin-right: 10px;
}

nav{
  background-color: #5142CF !important;
}
.navbar-nav .nav-link {
   cursor: pointer;
}

.custom-select:focus {
    border-color: rgba(0,0,0,.26);
    outline: 0;
    box-shadow: none;
}
.custom-control-input:active~.custom-control-label:before {
    color: #fff;
    background-color: #dee2e6;
    box-shadow: inset 0 0.25rem 0.25rem rgba(0,0,0,.1);
}
.custom-control-label:after, .custom-control-label:before {
    top: 0;
}
.btn-primary.custom-file-control:before, .btn.btn-raised.btn-primary, .page-item.active .page-link {
    background-color: #3f51b5 !important;
    color: #FFF !important;
}
.btn.btn-primary {
   color: #3f51b5 !important;
}
.custom-radio .custom-control-input:checked~.custom-control-label:before {
    background-color: #3f51b5;
}
.custom-control-input:checked~.custom-control-label:before {
    color: #fff;
    background-color: #3f51b5;
    box-shadow: none;
}
.dropdown a[role=button] {
   color: #3f51b5;
}

/*  View Collection Page  */
.toast-top-center{
   top: 11% !important;
}
#toast-container>div:hover {
   -moz-box-shadow: none !important;
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
}

/*  Edit Collection Page  */
input[readonly] {
   font-weight: bold;
}
.toast-top-center{
   top: 11% !important;
}
#toast-container.toast-bottom-center>div, #toast-container.toast-top-center>div {
    max-width: 450px;
    width: 100%;
}

/* Add Collection Page */
[class*=" bmd-label"], [class^=bmd-label] {
   color: #000;
}

@media (min-width: 768px) {
   .navbar-brand {font-size: 1.75rem}
}

.loader {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1055;
    background: rgba(255, 255, 255, .3) url(../../resources/assets/loader.svg) center center no-repeat;
    background-size: 100px;
}

#account.dropdown-menu {
   right: 5%;
   left: auto;
}

*[disabled] {
   cursor: not-allowed !important;
}